.amenities-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}