.details-container {
  padding: 24px;
  display: flex;
  justify-content: center;
}

.location-detail-card {
  max-width: 1200px;
  width: 100%;
  padding: 24px;
  position: relative;

  .back-button {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  mat-card-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    padding-top: 40px; // Espace pour le bouton retour
  }

  mat-card-subtitle {
    font-size: 18px;
    color: #757575;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 24px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .details-main-content {
    display: flex;
    gap: 32px;

    .listing-info {
      flex: 3;
    }

    .host-and-booking {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  .highlights-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 16px 0; // Ajoute un peu d'espace en dessous avant la section suivante
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // Crée une grille responsive
    gap: 12px; // Espace entre les éléments

    li {
      font-size: 16px;
      color: #333;
      display: flex;
      align-items: center;
      gap: 10px; // Espace entre l'icône et le texte

      mat-icon {
        color: #3f51b5; // Utilise la couleur primaire pour l'icône
      }
    }
  }

  .host-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

    .host-photo {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }

    .superhost-badge {
      background-color: #ff385c;
      color: white;
      padding: 2px 8px;
      border-radius: 10px;
      font-size: 12px;
      margin-left: 8px;
    }
  }
}

.error-message {
  color: red;
  text-align: center;
  padding: 16px;
}
